<h1>Chat Room</h1>

<%= current_user.email %>

<!--div data-chat-room='Best Room'></div-->

<div id="messages">
  <%= render @messages %>
</div>

<div id="msg_write">
    <%= form_for @message, remote: true do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.text_field :content, class: "write_msg", id: "message_content",
         placeholder: "Type a message" %>
        <%= f.submit class: "msg_send_btn" %>
    <% end %>
</div>
